/*************************
 *  your code goes here  *
 *************************/

.bx-logo-container{
    width: 200px;
    margin: 0 auto;;
}
.bx-logo-container svg {
    width: 100%;
    height: auto;
}
.bx-group-logo .bx-row{
    padding-top: 25px !important;
}
.bx-product-container{
  width: 50%;
  height: auto;
  margin: 0 auto;


}

.bx-row-headline-1 {
  font-family: ars_maquette_problack,sans-serif;
  font-size: 1.5rem;
    letter-spacing: normal;
  margin: 0;
  text-transform: none;
  padding: 0 10px;
}

.bx-row-headline-1-product {
font-weight: bold;
font-size: 2rem;
}
.bx-button-container{
    width: 275px;
    margin:25px auto
}

button#bx-add-to-cart.bx-add-to-cart.bx-add-to-cart-button {
    background-color: #cc0001;
    border-width: 0;
    color: #fff;
    cursor: pointer;
    font-family: ars_maquette_probold,sans-serif;
    font-size: 18px;
    /* margin: 30px 0; */

   
      overflow: visible;
    padding: 12px 0;
    position: relative;
    text-align: center;
    text-transform: none;
    width: 100%;
  }
  
  button.bx-add-to-cart-button:hover {
    background-color: #d00;
    outline: 2px dotted #000;
    outline-offset: 1px;
  }

  svg.bx-svg-icon.bx-svg-icon-bag {
    display: inline-block;
    fill:#fff;
    height: 20px;
      overflow: hidden;
    vertical-align: middle;
    width: 18px;
  }
