/*************************
 *  your code goes here  *
 *************************/

.logo-container{
    width: 200px;
    margin: 0 auto;;
}
.logo-container svg {
    width: 100%;
    height: auto;
}
.bx-group-logo .bx-row{
    padding-top: 25px !important;
}
.button-container{
    width: 275px;
    margin:0 auto
}
